<!DOCTYPE html>
<html> 
    <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>chills42 - {{ page.title }}</title> 
    <link rel="stylesheet" type="text/css" href="http://www.chills42.com/style.css" media="screen" /> 
    <link rel="stylesheet" type="text/css" href="http://www.chills42.com/style-default.css" title="Default Style" media="screen" /> 
    <link rel="alternate stylesheet" type="text/css" href="http://www.chills42.com/style-bw.css" title="Black and White" media="screen" /> 
    <link rel="stylesheet" type="text/css" href="http://www.chills42.com/handheld.css" media="handheld" /> 
    <script src="http://www.google.com/jsapi" type="text/javascript"></script> 
    <script type="text/javascript">google.load("jquery", "1");</script> 
    </head> 
    <body> 
<div id="titlebar"><h2><a href="http://www.chills42.com">chills42.com</a></h2></div> 
<div id="titlebar_links"> 
<ul> 
  <li><a href="index">Home</a></li> 
  <li><a href="resume">Resume</a></li> 
</ul> 
</div><!--End of TitleBar--> 
<div id="content"> 

  {{ content }}

</div><!--End of content--> 
<div id="w3c"> 
<p> 
<a href="http://validator.w3.org/check?uri=referer"> 
<img src="http://chills42.com/images/xhtml11.png" alt="Valid XHTML 1.1!" width="80" height="15" /></a> 
<a href="http://www.w3.org/Style/CSS/"> 
<img src="http://chills42.com/images/w3c-css.png" alt="Valid CSS!" width="80" height="15" /></a> 
</p> 
</div><!--End of w3c--> 
<div id="legal"> 
<p>&copy; {{ site.time | date: "%Y" }} Craig Hills. All Rights Reserved.</p> 
</div> 
<script type="text/javascript"> 
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
  try {
  var pageTracker = _gat._getTracker("UA-522045-1");
  pageTracker._trackPageview();
  } catch (err) {}
</script> 
</body> 
</html> 
 